.header-row {
  display: flex;
  align-items: center;
}

.header-image {
  object-fit: cover;
  object-position: center;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}
